.wrapper {
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  margin: 0;
  background-color: gray;
}

.title {
  color: #002F6D;
  font-size: '50px';
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;

  @media (max-width: 350px) {
    font-size: rem(28px);
    text-align: left;
  }
}

.description {
  text-align: center;
  color: #002F6D;

  @media (max-width: 350px) {
    text-align: left;
  }
}


.swiper {


  .swiperButtonNext,
  .swiperButtonPrev {
    background-color: #002F6D;
    /* Example: Change the background color */
    color: white;
    /* Example: Change the arrow color */
    border-radius: 50%;
    /* Example: Make the buttons circular */
    width: 40px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiperButtonNext::after,
  .swiperButtonPrev::after {
    font-size: 20px;
    /* Adjust the size of the arrow icons */
  }
}