.wrapper {
    width: 100%;
    display: flex;
    border: 1px solid red;
    margin: 0;
    background-color: gray;
  }
  
  .title {
    color: #002F6D;
    font-size: '50px';
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
  
    @media (max-width: 350px) {
      font-size: rem(28px);
      text-align: left;
    }
  }
  
  .description {
    text-align: center;
    color: #002F6D;
    @media (max-width: 350px) {
      text-align: left;
    }
  }
