.accordionItem {
    border: none;
    padding: 0;
    align-items: start;
}

.accordionControl {
    padding: 0;
    text-align: start;
    background: transparent;
    padding-bottom: 10;

    &:hover {
        background-color: red;
    }
}
