.wrapper {
  display: flex;
  align-items: center;
  color: '#002F6D',
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
}

.title {
  color: '#002F6D',
}

.description {
  color: '#002F6D',
}