.wrapper {
    display: flex;
    align-items: center;
    color: '#002F6D';
}

.icon {
    margin-right: var(--mantine-spacing-md);
    background-color: transparent;
}

.title {
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
    color: '#012F6D';
}

.description {
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
    color: '#002F6D';
}
